
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #9b7979;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: right;
  }
  
  header a {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
  }
  
  main {
    padding: 20px;
    display: flex;
    justify-content: space-around;
  }
  
  .product {
    background-color: #e41d1d;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  .product img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .product h3 {
    margin-top: 0;
  }
  
  .product p {
    margin-bottom: 10px;
  }
  
  .product .price {
    font-weight: bold;
    font-size: 1.2em;
  }
  
  .product .button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .product .button:hover {
    background-color: #45a049;
  }
  
  .sidebar {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 200px;
    margin-right: 20px;
  }
  
  .sidebar h2 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    margin-bottom: 10px;
  }
  
  .sidebar a {
    color: #333;
    text-decoration: none;
  }
  
  .sidebar a:hover {
    text-decoration: underline;
  }